body{
  background-color: black;

}
div{
  margin-top:6cm;
    color: black;
      left: 10%;
}
p button{
  text-align:center;
  margin-top: 6cm;
  display:block;
    padding-top: 5px;
    background-color: black;
}
.center{
  position: absolute;
  background-color:white;
   top: 50%;
   left: 50%;
   margin-left: -50px; /* margin is -0.5 * dimension */
   margin-top: -25px;
}
